[Unit]
Description=Bumblebee System Metrics HTTP Server
After=network.target

[Service]
Type=simple
User=lb
ExecStart=/usr/bin/python3 /home/lb/sys_metrics.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
