<?xml version="1.0"?>
<model>
  <name>x500_mono_cam_down</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>bumblebee_sim</name>
  </author>
  <description>X500 with downward mono camera tucked into the body (overrides PX4 default that mounts the camera ~10cm above base_link).</description>
</model>
